<div class="home">
    <div class="container-fluid w-100 p-0 d-flex flex-row">
        <div class="history-and-participants d-flex flex-column w-85">
            <div class="history">
                <ul class="history-messages">
                    <li class="history-message">[PUSG]: Welcome to Player's Unknown SPAM Grounds!</li>
                    <li class="history-message">[PUSG]: Try typing something in order to login and use the website.</li>
                </ul>
            </div>
            <div class="chat-input-field">
                <input class="form-control" id="main-chat-input" type="text"/>
            </div>
        </div>
        <div class="participants w-15 pt-2">
        </div>
        <script src="../scripts/main-chat.js"></script>
    </div>
</div>
